<footer>
    <div class="container">
        <hr>
        {#<p class="pull-right"><i class="icon-arrow-up"></i> <a href="#">Back to top</a></p>#}

        {% if articles %}
            {% set copy_date = articles[0].date.strftime('%Y') %}
        {% else %}
            {% set copy_date = '' %}
        {% endif %}

        <p>&copy; {{ copy_date }} {{ AUTHOR }}
        
        {% if GITHUB_USERNAME %}
            <a href="https://github.com/{{ GITHUB_USERNAME }}"><i class="fa fa-github"></i></a>
        {% endif %}
        {% if TWITTER_USERNAME %}
            <a href="https://twitter.com/{{ TWITTER_USERNAME }}"><i class="fa fa-twitter"></i></a>
        {% endif %}

        {#  &middot;  Powered by <a href="https://github.com/DandyDev/pelican-bootstrap3" target="_blank">pelican-bootstrap3</a>,
            <a href="http://docs.getpelican.com/" target="_blank">Pelican</a>,
            <a href="http://getbootstrap.com" target="_blank">Bootstrap</a>#} </p>
    </div>
</footer>