{% extends "base.html" %}
{% block content %}
    <p class="lead">App development and consulting, specializing in Windows 10, iOS, and Android. <a href="/pages/contact.html">You can contact us here</a>, or visit us in our Aksarben Village office.</p>

    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article>
                <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                <div class="summary">{{ article.summary }}
                    {# Uncomment if you want to show comment counts #}
                    {#{% include 'includes/comment_count.html' %}#}
                    <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">more ...</a>
                </div>
            </article>
            {% if not loop.last %}
            <hr/>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}